




<div class="modal custom-modal fade" id="delete_category" role="dialog">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">
<div class="modal-icon text-center mb-3">
<i class="fas fa-trash-alt text-danger"></i>
</div>
<div class="modal-text text-center">
<h3>Suppression Mouvement </h3>
    <p>Voulez-vous vraiment supprimer "<label id="lblsup" name="lblsup"></label>" ?</p>
</div>
</div>
<div class="modal-footer text-center">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
<button type="button" id="btnsupression" class="btn btn-primary">Supprimer</button>
<input type="hidden" id="idmvtsup"/>
</div>
</div>
</div>
</div>

    <div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Liste Utilisateur</h3>

</div>
</div>
</div>



<div class="row">
<div class="col-sm-12">
<div class="card card-table">
<div class="card-body">
<div class="table-responsive">
<table class="table table-center table-hover datatable" id="tablo2">
<thead class="thead-light">
<tr>
<th>#</th>
<th>Utilisateur</th>
<th class="text-end">Action</th>
</tr>
</thead>
<tbody>

</tbody>
</table>
</div>
</div>
</div>
</div>
</div>